<div class="post-preview">
   <h3 class="post-preview">
     <a href="{{ .Permalink }}">{{ .Title }}</a> <br/>
   </h3>
   <p class="lead">
    Intervenants:
     {{- range .Params.Speakers }}
       {{- with $.Site.GetPage "taxonomyTerm" (printf "speakers/%s" (urlize .)) }}
         <a href="{{ .Permalink }}">{{ .Params.name }}</a>
       {{ end }}
     {{ end }}
     <br />
     le {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}  <br />
     {{ partial "tags.html" .}}
  </p>
</div>
<hr  />
