{{ partial "header.html" . }}

    <!-- Page Header -->
    <header class="intro-header">
    </header>

    <!-- Main Content -->
    <div class="intro-header container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ range .Paginator.Pages.ByDate.Reverse }}
              {{ .Render "archive" }}
          {{ end }}
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>

{{ partial "footer.html" . }}
