{{ partial "header.html" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{ if isset .Params "image" }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.image }}')">
      {{ else }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/post-bg.jpg')">
    {{ end }}
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
          <div class="post-heading">
            <h1>{{ .Title }}</h1>
          </div>
            <div class=" lead row">
              <!-- <h4>Support en format PDF: <a href="{{ .File }}" target="_blank">Link</a></h4> -->
              <div class="lead col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br>
                <h4>Speakers:</h4>
                {{- range .Params.Speakers }}
                  {{- with $.Site.GetPage "taxonomyTerm" (printf "speakers/%s" (urlize .)) }}
                    <a href="{{ .Permalink }}">{{ .Params.name }}</a>
                  {{ end }}
                {{ end }}
                  {{ .Content }}
                  {{ partial "comments.html" .}}
                </div>
            </div>
        </div>
    </article>

{{ partial "footer.html" .}}
