{{ partial "header.html" .}}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/{{ .Site.Params.background }}')">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <div class="site-heading">
             <!--<h1>{{ .Site.Title }}</h1>-->
             <hr class="small">
             {{ with .Site.Params.Description }}<span class="subheading"></span>{{ end }}
           </div>
         </div>
       </div>
     </div>
    </header>

    <!-- Main Content -->
    <div class="container">
            <div class="lead">
                Vous désirez progresser dans le techniques et outils permettant d'opérer un service en ligne ? Rejoignez-nous!
            </div>
            <div class="lead">
                Café DevOps Lyon organise des échanges visant à progresser sur les aspects opérationnels cloud, déploiement continu et scalabilité des infrastructures.
                Nous sommes passionnés de technologies de production informatique avancées et gestion des incidents de production.
            </div>
            <div class="lead">
                Café DevOps Lyon facilite les échanges à Lyon, sur ces domaines en organisant des événements, rencontres informelles autour d’un verre, conférence sur des sujets techniques,
                Nous ne nous concentrons pas sur une technologie en particulier, mais nous mettons au centre des meetups dédiés à chaque technologie. Pour les domaines d’organisation humaine autour du devops, nous préférons soutenir d’autres meetup spécialisés dans ce domaine au lieu d’essayer de reproduire ce qu’ils font déjà aujourd’hui avec succès.
            </div>
            <div class="lead">
                Rejoignez-nous pour parler orchestrateur, monitoring, résilience, …..
            </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <!--{{ $posts := or .Site.Params.PostSummariesFrontPage 4 }}-->
          <!--{{ range first $posts (where .Data.Pages "Type" "posts") }}-->
              <!--{{ .Render "summary"}}-->
          <!--{{ end }}-->
          <!-- Pager -->
          <!--<ul class="pager">-->
            <!--<li class="next">-->
              <!--<a href="{{ .Site.BaseURL }}/posts/">Older Posts &rarr;</a>-->
            <!--</li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>

{{ partial "footer.html" .}}
